<div class="form-group row">
  <div class="col text-right">
    <label><b>Merchant</b></label>
  </div>
  <div class="col">
    <label>PAYGATE - TEST SYSTEM</label>
  </div>
</div>
<div class="form-group row">
  <div class="col text-right">
    <label><b>Reference</b></label>
  </div>
  <div class="col">
    <label>Paygate Test</label>
  </div>
</div>
<div class="form-group row">
  <div class="col text-right">
    <label><b>Transaction date</b></label>
  </div>
  <div class="col">
    <label>date</label>
  </div>
</div>
<div class="form-group row">
  <div class="col text-right">
    <label><b>Amount</b></label>
  </div>
  <div class="col">
    <label>R {{transactionDetails?.amount}} (ZAR)</label>
  </div>
</div>
<hr>
<router-outlet></router-outlet>
<hr>
<div class="landingfooterOptions">
  <p>Powered by Paygate</p>
</div>
<button type="button" class="btn btn-outline-secondary">Back</button>
