<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="form-group landingLabels">
        <label><b>Merchant</b></label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>PAYGATE - TEST SYSTEM</label>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="form-group landingLabels">
        <label><b>Reference</b></label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>Paygate Test</label>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="form-group landingLabels">
        <label><b>Transaction date</b></label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>date</label>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="form-group landingLabels">
        <label><b>Amount</b></label>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label>R 00.00 (ZAR)</label>
      </div>
    </div>
  </div>
  <hr>
  <div class="landingPaymentOptions">
    <h4>Please select a payment type</h4>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <button type="button" routerLink="/creditcard" routerLinkActive="active" class="btn btn-outline-secondary">Credit Card</button>
        </div>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <div class="form-group">
          <button type="button" routerLink="/eft" routerLinkActive="active" class="btn btn-outline-secondary">SiD Instant EFT</button>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="landingfooterOptions">
    <p>Powered by Paygate</p>
  </div>
  <button type="button" class="btn btn-outline-secondary">Back</button>
</div>
