<div class="text-center">
  <h4>Please select a payment type</h4>
  <div class="row">
    <div class="col">
      <div class="form-group">
        <button type="button" routerLink="creditcard" routerLinkActive="active" class="btn btn-outline-secondary">Credit Card</button>
      </div>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <div class="form-group">
        <button type="button" routerLink="eft" routerLinkActive="active" class="btn btn-outline-secondary">SiD Instant EFT</button>
      </div>
    </div>
  </div>
</div>
