<div class="creditcardPaymentOptions">
  <button type="button" routerLink="/" routerLinkActive="active" class="btn btn-outline-secondary">Change Payment Type</button>
</div>
<br>
<div>
  <form #creditcardForm="ngForm">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="form-group creditcardLabels">
            <label><b>Cards Accepted</b></label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>Options</label>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="form-group creditcardLabels">
            <label><b>Card Holder</b></label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" id="cardholder" required placeholder="enter your name"
                   [(ngModel)]="creditCard.cardholder" name="cardholder" #cardHolder="ngModel">
            <div [hidden]="cardHolder.valid" class="alert alert-danger">required</div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="form-group creditcardLabels">
            <label><b>Card Number</b></label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" id="cardnumber" required placeholder="enter your name"
                   [(ngModel)]="creditCard.cardnumber" name="cardnumber" #cardnumber="ngModel">
            <div [hidden]="cardnumber.valid" class="alert alert-danger">required</div>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="form-group creditcardLabels">
            <label><b>Expiry Date</b></label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>R 00.00 (ZAR)</label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label>R 00.00 (ZAR)</label>
          </div>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <div class="form-group creditcardLabels">
            <label><b>CVV</b></label>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <input type="text" class="form-control" id="cvv" required placeholder="enter your name"
                   [(ngModel)]="creditCard.cvv" name="cvv" #cvv="ngModel">
            <div [hidden]="cvv.valid" class="alert alert-danger">required</div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
