<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="nav-link" href="#">Payment Simulator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/example" routerLinkActive="active">Example</a>
      </li>-->
    </ul>
  </div>
</nav>
<div class="container">
  <div class="form-group row">
    <div class="col text-right">
      <label><b>Merchant</b></label>
    </div>
    <div class="col">
      <label>PAYGATE - TEST SYSTEM</label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col text-right">
      <label><b>Reference</b></label>
    </div>
    <div class="col">
      <label>Paygate Test</label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col text-right">
      <label><b>Transaction date</b></label>
    </div>
    <div class="col">
      <label>date</label>
    </div>
  </div>
  <div class="form-group row">
    <div class="col text-right">
      <label><b>Amount</b></label>
    </div>
    <div class="col">
      <label>R 00.00 (ZAR)</label>
    </div>
  </div>
  <hr>
  <router-outlet></router-outlet>
  <hr>
  <div class="landingfooterOptions">
    <p>Powered by Paygate</p>
  </div>
  <button type="button" class="btn btn-outline-secondary">Back</button>
</div>

